*,
*::after,
*::before {
  font-family: "Heebo", sans-serif;
  box-sizing: border-box;
}
$button-color: rgb(14, 104, 230);
.headerWrapper {
  position: fixed;
  background-color: #fff;
  opacity: 0.98;
  width: 100%;
  padding: 3px 15px;
  z-index: 1000;
  nav {
    display: flex;
    justify-content: space-between;
    caret-color: transparent;
    .logoWrapper {
      display: flex;
      align-items: center;
      margin-top: -5px;
      .menuBtnWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        padding-bottom: 4px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgb(241, 241, 241);
        caret-color: transparent;
        transition: all 0.2s ease;
        &:active {
          background-color: rgb(233, 233, 233);
          outline: 1px solid rgb(241, 241, 241);
        }
        div {
          width: 19.5px;
          height: 1.5px;
          background-color: rgba(0, 0, 0, 0.521);
          margin-top: 5px;
        }
      }
      .logo {
        margin-left: 10px;
        margin-top: 5px;
        cursor: pointer;
        .logoImg {
          width: 100px;
          height: fit-content;
        }
      }
    }
    .searchBar {
      min-width: 180px;
      width: 620px;
      max-width: 880px;
      margin-top: 6px;
      form {
        display: flex;
      }
      .searchBtn {
        display: flex;
        padding: 8px 20px;
        background-color: rgb(247, 247, 247);
        border: 1px solid lightgrey;
        border-left: none;
        cursor: pointer;
        .tooltip {
          position: relative;
          display: inline-block;
        }

        .tooltip .tooltiptext {
          visibility: hidden;
          width: 60px;
          background-color: rgba(0, 0, 0, 0.508);
          color: #fff;
          text-align: center;
          border-radius: 3px;
          padding: 5px 0;

          position: absolute;
          left: -80%;
          top: 50px;
          z-index: 1;
        }

        .tooltip:hover .tooltiptext {
          visibility: visible;
        }
        .searchIcon {
          width: 20px;
          height: 20px;
        }
        &:hover {
          background-color: rgb(231, 231, 231);
        }
      }
      input {
        width: 80%;
        padding: 10px 4px;
        border: 1px solid lightgrey;
        z-index: 100;
        &::placeholder {
          font-size: 1.2em;
        }
        &:focus {
          outline: 1px solid rgb(24, 24, 102);
        }
      }
    }
    .profileSection {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        text-decoration: none;
      }
      .createVideo {
        width: 25px;
        height: 25px;
        cursor: pointer;
        .tooltip {
          position: relative;
          display: inline-block;
        }

        .tooltip .tooltiptext {
          visibility: hidden;
          width: 60px;
          background-color: rgba(0, 0, 0, 0.508);
          color: #fff;
          text-align: center;
          border-radius: 3px;
          padding: 5px 0;

          position: absolute;
          left: -50%;
          top: 50px;
          z-index: 1;
        }

        .tooltip:hover .tooltiptext {
          visibility: visible;
        }
      }
      .profileCircle {
        width: 30px;
        height: 30px;
        background-color: lightgray;
        border-radius: 50%;
        margin-right: 20px;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .dropDownMenu {
        position: absolute;
        background-color: #fff;
        top: 20%;
        left: -230px;
        border: 1px solid lightgray;
        width: 260px;
        ul {
          margin: 0;
          padding: 0;
          .headerSection {
            display: flex;
            align-items: center;
            h3 {
              margin: 0;
            }
          }
          li {
            padding: 10px 18px;
            list-style: none;
          }
          .signOut {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.menuWrapper {
  display: flex;
  position: fixed;
  margin-top: 66px;
  flex-direction: column;
  gap: 5px;
  width: 240px;

  .sidehL {
    width: 92%;
    height: 1px;
    background-color: rgb(212, 212, 212);
  }
  .signInSection {
    display: flex;
    flex-direction: column;
    margin-left: 22.5px;
    font-size: 14px;
    a {
      text-decoration: none;
    }
  }
  .subscriptionsSection {
    font-size: 14px;
    a {
      display: block;
      width: 100%;
      padding-left: 24.5px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .subsHeading {
      margin-left: 22.5px;
      margin-top: 10px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 16px;
      color: #3c3c3c;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .subscriptionCard {
      display: flex;
      align-items: center;
      gap: 20px;
      &:hover {
        background-color: #f2f2f2;
      }
      .subscriptionProfile {
        display: flex;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    a {
      display: block;
      width: 100%;
      padding-left: 24.5px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .selected {
      background-color: #dadada;
    }
    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 11px 0px;
      img {
        width: 21px;
        height: 21px;
      }
      span {
        margin-left: 25px;
      }
    }
  }
  .music,
  .gaming,
  .sports,
  .news,
  .live,
  .movies {
    li {
      list-style: none;
      font-size: 14px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  footer {
    .infoPages {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      font-size: 0.9em;
      word-spacing: 5px;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  caret-color: transparent;
}
.sideAndMainWrapper {
  display: flex;
  caret-color: transparent;
  height: 2000px;
}
.contentWrapper {
  margin-top: 70px;
  margin-left: 245px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  background-color: #f9f9f9;
  min-height: 268px;
}
.watchVideoWrapper {
  margin-top: 70px;
  background-color: #f9f9f9;
  width: 100%;
  min-height: 268px;
  .displayedVideoWrapper {
    padding-top: 15px;
    padding-left: 75px;
    iframe {
      min-width: 300px;
      width: 960px;
      min-height: 270px;
      height: 530px;
    }
    .displayedVideoInfo {
      display: flex;
      flex-direction: column;
      width: 960px;
      .heading {
        h3 {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 400;
        }
      }
      .likeDislike {
        display: flex;
        justify-content: space-between;
        span {
          color: #6c6c6c;
        }
        .icons {
          position: relative;
          display: flex;
          gap: 26.5px;
          margin-bottom: 15px;
          h3 {
            margin: 0;
          }
          h4 {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
          }
          img {
            width: 25px;
            height: 25px;
          }
          .icon {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
          }
        }
      }
      .sidehL {
        width: 100%;
      }
    }
    .displayedVideoChannelInfo {
      display: flex;
      justify-content: space-between;
      width: 960px;
      margin-top: 15px;
      .channelWrap {
        display: flex;
        .channelPicture {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .channelInfo {
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          .userAndSubs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h5 {
              margin: 0;
            }
            span {
              color: #6c6c6c;
              font-size: 14px;
            }
          }
          .channelDescription {
            margin-top: 15px;
          }
        }
      }

      .subscribeToChannel {
        margin-right: 5px;
        .subBtn {
          text-transform: uppercase;
          cursor: pointer;
          border: none;
          border-radius: 2px;
          padding: 10px 18px;
          font-size: 15px;
          color: #f9f9f9;
          font-weight: 600;
          letter-spacing: 0.9px;
          background-color: rgb(208, 5, 5);
        }
        .unSubBtn {
          text-transform: uppercase;
          cursor: pointer;
          border: none;
          border-radius: 2px;
          padding: 10px 18px;
          font-size: 15px;
          color: rgb(208, 5, 5);
          font-weight: 600;
          letter-spacing: 0.9px;
          background-color: #f9f9f9;
          border: 1px solid rgb(208, 5, 5);
        }
      }
    }
  }
}

.contentWrapperResults {
  margin-top: 70px;
  margin-left: 245px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  background-color: #f9f9f9;
  min-height: 268px;
  width: 100vw;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 134, 138);
  width: 90%;
  margin: 0 auto;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 10px 0px;
}

.errBorder {
  border: 1px solid rgb(255, 134, 138);
}

.errorModalLike {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
  width: 378px;
  height: 175px;
  top: -700%;
  box-shadow: 2px 4px 16px 0.5px;
  .likeIt {
    font-size: 16px;
    font-weight: 700;
  }
  .sidehL {
    position: absolute;
    top: 63%;
    left: 0;
  }
  a {
    width: fit-content;
    .signInBtn {
      margin-top: 35px;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      width: fit-content;
      font-size: 16px;
      padding: 0;
      color: rgb(82, 82, 255);
    }
  }
}
.errorModalDislike {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
  width: 378px;
  height: 175px;
  top: -700%;
  left: 13%;
  box-shadow: 2px 4px 16px 0.5px;
  .likeIt {
    font-size: 16px;
    font-weight: 700;
  }
  .sidehL {
    position: absolute;
    top: 63%;
    left: 0;
  }
  a {
    width: fit-content;
    .signInBtn {
      margin-top: 35px;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      width: fit-content;
      font-size: 16px;
      padding: 0;
      color: rgb(82, 82, 255);
    }
  }
}

.errorModalSub {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
  width: 378px;
  height: 175px;
  top: -500%;
  left: 31%;
  box-shadow: 2px 4px 16px 0.5px;
  .likeIt {
    font-size: 16px;
    font-weight: 700;
  }
  .sidehL {
    position: absolute;
    top: 63%;
    left: 0;
  }
  a {
    width: fit-content;
    .signInBtn {
      margin-top: 35px;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      width: fit-content;
      font-size: 16px;
      padding: 0;
      color: rgb(82, 82, 255);
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 300px;
  img {
    cursor: pointer;
    width: 292px;
    height: 182px;
    border: 1px solid black;
  }
  .videoDescription {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    h4 {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .creatorChannel {
      background-color: lightgray;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 15px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .videoInfo {
      margin-left: 15px;
      .channelViews {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.searchWrapper {
  display: flex;
  a {
    display: flex;
    height: fit-content;
  }
  img {
    width: 360px;
    height: 202px;
    border: 1px solid black;
    cursor: pointer;
  }
  .searchVideoDescription {
    display: flex;
    margin-left: 5px;
    height: 202px;
    h3 {
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 0;
    }
    .searchCreatorChannel {
      display: flex;
      background-color: lightgray;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .searchVideoInfo {
      margin-left: 15px;
      span {
        font-size: 12px;
        color: rgb(62, 62, 62);
        cursor: pointer;
      }
      .searchProfileSection {
        display: flex;
        margin-top: 15px;
        gap: 10px;
      }
      .searchDesc {
        margin-top: 15px;
      }
    }
  }
}
.signInBtn {
  display: flex;
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 24px;
    height: 24px;
  }
  .signIn {
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    text-align: right;
    cursor: pointer;
  }
}

.sidehL {
  width: 92%;
  height: 1px;
  background-color: rgb(212, 212, 212);
}

.navhL {
  height: 1px;
  background-color: rgb(212, 212, 212);
}
.profileCircle {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.profileCircle2 {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 20px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}
